html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.left-test {
  float: left; }

.right-test {
  float: right; }

.left-test, .right-test {
  max-width: 40%; }

.easypack-widget {
  border: solid 1px #9797a6;
  background-color: #cbcbe2;
  font-size: 1.4rem;
  max-height: 2.4rem;
  width: 100%;
  overflow: hidden;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-transition: max-height .5s;
  transition: max-height .5s; }
  .easypack-widget.active {
    max-height: 90vh;
    overflow: auto; }
  .easypack-widget .machine {
    padding: 0.5rem;
    border-bottom: solid 1px #9797a6; }
    .easypack-widget .machine:last-child {
      border: none; }

/*# sourceMappingURL=style-easypackWidget.css.map */
