html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem; // standard 16px
}
.left-test{
    float: left;
}
.right-test{
    float: right;
}
.left-test, .right-test{
    max-width: 40%;
}

$fieldHeight : 2.4rem;
$fontSize : 1.4rem;

.easypack-widget{
    border: solid 1px #9797a6;
    background-color: #cbcbe2;
    font-size: $fontSize;
    max-height: $fieldHeight;
    width: 100%;
    overflow: hidden;
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;

    &.active{
        max-height: 90vh;
        overflow: auto;
    }

    .machine{
        padding: ($fieldHeight - $fontSize)/2;
        border-bottom: solid 1px #9797a6;

        &:last-child{
            border: none;
        }
    }
}